{% set title = "%s | Dronperminov" % article.title %}

{% set banner = article.preview.url %}
{% set banner_width = article.preview.width %}
{% set banner_height = article.preview.height %}

{% include "components/header.html" %}

    {% include "articles/%s/styles.html" % article.link %}
    <link rel="stylesheet" type="text/css" href="/styles/pages/article.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}

    <nav class="breadcrumbs" aria-label="Хлебные крошки">
        <a href="/">Главная</a>
        <span class="separator">›</span>
        <a href="/articles">Статьи</a>
        <span class="separator">›</span>
        <span class="current">{{article.title}}</span>
    </nav>

    <section class="article">
        <time class="article-datetime" datetime="{{article.datetime}}">{{article.format_datetime()}}</time>

        <h1>{{article.title}}</h1>

        <div class="article-tags">{% for tag in article.tags %}{% if loop.index > 1 %}, {% endif %}<span class="article-tag">{{tag}}</span>{% endfor %}</div>

        {% include "articles/%s/content.html" % article.link %}
    </section>

    {% include "components/footer.html" %}

    <script src="/js/utils/gallery.js?v={{version}}"></script>
    <script src="/js/utils/pictures_layout.js?v={{version}}"></script>
    {% include "articles/%s/js.html" % article.link %}
</body>
</html>
