{% set title = "%s | Dronperminov" % article.title %}

{% set banner = article.preview.url %}
{% set banner_width = article.preview.width %}
{% set banner_height = article.preview.height %}

{% include "components/header.html" %}

    {% include "articles/%s/styles.html" % article.link %}
    <link rel="stylesheet" type="text/css" href="/styles/pages/article.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}
    {% include "components/breadcrumbs.html" %}

    <section>
        <article itemscope itemtype="http://schema.org/Article">
            <meta itemprop="url" content="/articles/{{article.link}}" />
            <meta itemprop="inLanguage" content="ru-RU" />

            <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="/"><img src="/images/profiles/dronperminov.jpg"></a>
                <a class="link" href="/" itemprop="url"><span itemprop="name">dronperminov</span></a>
            </div>

            <time itemprop="datePublished" content="{{article.datetime.strftime('%Y-%m-%dT%H:%M:00+00:00')}}" datetime="{{article.datetime}}">{{article.format_datetime()}}</time>

            <h1 itemprop="headline name">{{article.title}}</h1>

            <div class="tags">{% for tag in article.tags %}{% if loop.index > 1 %}, {% endif %}<span class="tag">{{tag}}</span>{% endfor %}</div>

            <div class="preview" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                <img itemprop="url contentUrl" src="{{article.preview.url}}" alt="{{article.title}}" />
            </div>

            <div itemprop="articleBody">
            {% include "articles/%s/content.html" % article.link %}
            </div>
        </article>
    </section>

    {% include "components/footer.html" %}

    <script src="/js/utils/gallery.js?v={{version}}"></script>
    <script src="/js/utils/pictures_layout.js?v={{version}}"></script>
    {% include "articles/%s/js.html" % article.link %}
</body>
</html>
