article {
    line-height: 1.3;
}

article h1 {
    margin: 0.5em 0;
}

article h2 {
    margin-top: 2em;
}

article p + ul {
    margin-top: -0.75em;
}

article time {
    font-size: 0.75em;
    color: var(--description-color);
    display: inline-block;
}

article .author {
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;
}

article .author .link {
    border-bottom: none;
    color: var(--text-color);
}

article .author img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    vertical-align: middle;
}

article .tags {
    font-size: 0.8em;
    color: var(--description-color);
    margin-bottom: 1em;
}

article .preview {
    text-align: center;
}

article .preview img {
    max-width: 100%;
}

.article-center {
    text-align: center;
    max-width: 100%;
    overflow-x: auto;
}

article text {
    font-family: Inter;
}

.article-picture {
    text-align: center;
}

.article-picture img {
    max-width: min(100%, 800px);
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 15px;
}

@media (max-width: 767px) {
    .article-picture img {
        max-width: 100%;
    }
}
