article {
    line-height: 1.4;
}

article h1 {
    margin: 0.5em 0;
}

article h2 {
    margin-top: 2em;
}

article p + ul {
    margin-top: -0.75em;
}

article time {
    font-size: 0.75em;
    color: var(--description-color);
    display: inline-block;
}

article .author {
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;
}

article .author .link {
    border-bottom: none;
    color: var(--text-color);
}

article .author img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    vertical-align: middle;
}

article .tags {
    font-size: 0.8em;
    color: var(--description-color);
    margin-bottom: 1em;
}

article .preview {
    text-align: center;
}

article .preview img {
    max-width: 100%;
}

.article-center {
    text-align: center;
    max-width: 100%;
    overflow-x: auto;
}

article text {
    font-family: Inter;
}

article table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.9em;
    width: 100%;
}

article td, article th {
    border-left: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    padding: 0.5em 1em;
    text-align: center;
}

article td:last-child {
    border-right: 1px solid var(--table-border-color);
}

article th {
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
}

article tr:nth-child(2n) {
    background-color: var(--table-background-color1);
}

article tr:nth-child(2n + 1) {
    background-color: var(--table-background-color2);
}

article th:first-child {
    border-top-left-radius: 0.5em;
}

article th:last-child {
    border-top-right-radius: 0.5em;
}

article .two-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

article .two-links > :last-child {
    text-align: right
}

.article-picture {
    text-align: center;
}

.article-picture img {
    max-width: min(100%, 800px);
    cursor: pointer;
}

@media (max-width: 767px) {
    .article-picture img {
        max-width: 100%;
    }

    article .two-links {
        display: block;
    }
}
