.basic-input {
    width: 100%;
    border: none;
    padding: 0 0 1px 0;
    background: transparent;
    outline: none;
    font-size: 1em;
    font-family: Inter;
    transition: border-color 150ms ease-in;
}

.basic-input:disabled, .basic-input:disabled:hover, .basic-input:disabled:focus {
    color: var(--border-color);
}

.basic-textarea {
    display: block;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0.4em;
    padding: 0.3em;
    background: transparent;
    outline: none;
    font-family: Inter;
    font-size: 0.9em;
    line-height: 1.25em;
    transition: border-color 150ms ease-in;
    min-height: 5.8em;
    resize: vertical;
}

.basic-textarea:disabled, .basic-textarea:disabled:hover, .basic-textarea:disabled:focus {
    color: var(--border-color);
    border-color: var(--border-color);
}

.basic-button {
    background: var(--button-background);
    color: var(--button-color);
    border: none;
    text-decoration: none;
    padding: 0.7em 0.8em;
    border-radius: 0.6em;

    font-size: 0.95em;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: 0.3s;
}

.basic-button:hover {
    background: var(--button-hover-background);
    color: var(--button-hover-color);
    transition: 0.3s;
}

.basic-button:disabled, .basic-button:hover:disabled {
    background: var(--button-disabled-background);
    color: var(--button-disabled-color);
    pointer-events: none;
}

.error-input {
    color: var(--error-color) !important;
    border-color: var(--error-color) !important;
}

.icon-input {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1em 1fr;
    grid-gap: 5px 8px;
    align-items: center;
    border-bottom: 1px solid var(--description-color);
    padding-bottom: 5px;
    margin-bottom: 1em;
}

.icon-input label {
    grid-column: 1 / span 2;
    display: block;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
}

.icon-input svg {
    width: 100%;
    vertical-align: bottom;
    fill: var(--description-color);
}

.icon-input input {
    font-size: 0.9em;
}

.icon-input:has(input:focus) svg {
    fill: var(--text-color);
}

.icon-input:has(.error-input) svg {
    fill: var(--error-color) !important;
}

.icon-input:has(.error-input) label {
    color: var(--error-color);
}
