.code {
    background-color: var(--code-background-color);
    border: 1px solid var(--code-border-color);
    padding: 0 8px;
    border-radius: 5px;
    margin-bottom: 1em;
}

.code-collapsed pre {
    min-height: 200px;
    height: 200px;
    overflow-y: auto;
    resize: vertical;
    max-height: max-content;
}

.code-title {
    font-size: 0.7em;
    font-weight: bold;
    color: var(--code-title-color);
    padding: 8px 0;
    border-bottom: 1px solid var(--code-border-color);
}

.code pre {
    display: block;
    overflow-x: auto;
    line-height: 1.3;
    white-space: pre;
    font-family: monospace;
    margin: 0;
    text-align: left;
    padding: 8px 0;
    counter-reset: line;
    font-size: 0.8em;
}

/* основные классы */
.code-comment {
    color: #909090;
}

.code-number {
    color: #0b57d0;
}

.code-string {
    color: #b3261e;
}

.code-keyword {
    font-weight: bold;
    color: #b90063;
}

.code-punctuation {
    color: var(--text-color);
}

/* классы для javascript */
.code-js-namespace {
    color: #b90063;
}

.code-js-identifier {
    color: var(--text-color);
}

.code-js-operator {
    color: var(--text-color);
}

/* классы для html */
.code-html-tag {
    font-weight: bold;
    color: #b90063;
}

.code-html-attribute, .code-html-doctype {
    color: #0b57d0;
}

.code-html-attribute-value {
    color: #b3261e;
}

/* классы для css */
.code-css-tag {
    color: #b90063;
    font-weight: bold;
}

.code-css-class {
    color: #b3261e;
}

.code-css-property {
    color: #0b57d0;
}

.code-css-pseudo {
    color: var(--text-color);
}

.code-line {
    counter-increment: line;
}

.code-line:before {
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding-right: 8px;
    margin-right: 8px;
    text-align: right;
    color: #888;
    width: 0.8em;
}

.code-two-digits .code-line:before {
    width: 1.6em;
}

.code-three-digits .code-line:before {
    width: 2.4em;
}

/*.code-other {
    font-size: 2em;
    font-weight: bold;
}*/