:root {
    --background-color: #fbe6cb;
    --text-color: #222222;
    --description-color: #777777;
    --border-color: #b15935;
    --main-color: #fe7a81;
    --error-color: #f44336;
    --success-color: #4caf50;
    --text-font-family: Inter;

    --menu-border-color: #aaaaaa;

    --section-background-color: #fff9f0;

    --section-light-background-color: #fffbf6;
    --section-light-border-color: #e5e2e4;

    --footer-background-color: #b15935;

    --button-background: linear-gradient(to right, #dd5e89 0%, #f7bb97 100%);
    --button-color: #f0f0f0;

    --button-hover-background: linear-gradient(to right, #dd5e89c0 0%, #f7bb97c0 100%);
    --button-hover-color: #ffffff;

    --button-disabled-background: #cccccc;
    --button-disabled-color: var(--border-color);
}

@font-face {
    font-family: Inter;
    src: url("/fonts/Inter-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--text-font-family);
    font-size: 20px;
    padding: 0 2em 4em 2em;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position: relative;
}

body {
    padding: 0;
    max-width: 1200px;
    min-height: calc(100dvh - 4em);
    margin: 0 auto;
}

section {
    background: var(--section-background-color);
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
    scroll-margin-top: 84px;
}

section h2 {
    margin-top: 0;
}

section h2, section h3, section p {
    width: 100%;
}

section p:last-child {
    margin-bottom: 0;
}

.link {
    color: var(--main-color);
    border-bottom: 1px dashed var(--main-color);
    text-decoration: none;
}

.link:hover {
    border-bottom: 1px solid var(--main-color)
}

.highlight {
    color: var(--main-color);
}

.line {
    margin: 1em 0;
    height: 1px;
    background-color: var(--main-color);
}

.icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: bottom;
}

.list {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em;
    width: 100%;
}

.hidden {
    display: none !important;
}

.loader {
    text-align: center;
    padding: 0.5em 0;
}

footer {
    align-content: center;
    background-color: var(--footer-background-color);
    bottom: 0;
    color: #ffffff;
    display: grid;
    font-size: 0.9em;
    height: 3em;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
}

@media (max-width: 767px) {
    html {
        font-size: 16px;
        padding: 0 0.8em 4em 0.8em;
    }
}
