{% include "components/header.html" %}

    <link rel="stylesheet" type="text/css" href="/styles/entities/article.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/pages/articles.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}
    {% include "components/breadcrumbs.html" %}

    <h1>Статьи{% if params.page > 0 %} – страница {{params.page + 1}}{% endif %}</h1>

    {% if params.page == 0 %}<p>На этой странице можно найти различные полезные (и не очень) статьи, которыми мне очень сильно хочется поделиться с общественностью.</p>{% endif %}

    <div id="articles">
        <div class="articles">
            {% for article in articles %}{% include "components/article_preview.html" %}{% endfor %}
        </div>
    </div>

    <noscript>
        <div class="pagination">
            {% if params.page > 0 %}<a class="link" href="/articles?page={{params.page}}">Назад</a>{% endif %}
            {% if params.page_size * (params.page + 1) < total %}<a class="link" href="/articles?page={{params.page + 2}}">Вперёд</a>{% endif %}
        </div>
    </noscript>

    {% include "components/footer.html" %}

    <script src="/js/utils/infinite_scroll.js?v={{version}}"></script>
    <script src="/js/entities/picture.js?v={{version}}"></script>
    <script src="/js/entities/article.js?v={{version}}"></script>
    <script src="/js/articles.js?v={{version}}"></script>

    <script>
        let config = {
            blockId: "articles",
            pageSize: {{params.page_size}},
            page: {{params.page + 1}},
            url: "/search-articles",

            getParams: GetArticlesSearchParams,
            onLoad: LoadArticles
        }

        let infiniteScroll = new InfiniteScroll(config)
    </script>
</body>
</html>
