{% set title = "Блог | Dronperminov" %}
{% set description = "Личные записи из моей жизни" %}
{% include "components/header.html" %}

    <link rel="stylesheet" type="text/css" href="/styles/entities/post.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/gallery.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/layout.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/blog.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}

    <nav class="breadcrumbs" aria-label="Хлебные крошки">
        <a href="/">Главная</a>
        <span class="separator">›</span>
        <span class="current">Блог</span>
    </nav>

    <h1>Блог</h1>
    <p>На этой странице можно найти всё, что связано с моей жизнью, увлечениями (возможно, мимолётными), а также всякие полезные материалы (я верю, что и такое тут будет)!</p>

    <div class="blog">
        <div class="left-panel"></div>
        <div id="posts">
            <div class="posts"></div>
        </div>
        <div class="right-panel"></div>
    </div>

    {% include "components/footer.html" %}

    <script src="/js/utils/infinite_scroll.js?v={{version}}"></script>
    <script src="/js/utils/gallery.js?v={{version}}"></script>
    <script src="/js/utils/pictures_layout.js?v={{version}}"></script>

    <script src="/js/entities/post.js?v={{version}}"></script>

    <script src="/js/blog.js?v={{version}}"></script>

    <script>
        let config = {
            blockId: "posts",
            pageSize: 10,
            url: "/search-posts",

            getParams: GetPostsSearchParams,
            onLoad: LoadPosts
        }

        let infiniteScroll = new InfiniteScroll(config)
        infiniteScroll.LoadContent()
    </script>
</body>
</html>
