{% set title = "Dronperminov | Личный сайт" %}
{% set description = "Личный сайт разработчика и исследователя Перминова Андрея Игоревича" %}
{% set banner = "/images/avatars/avatar_1024.jpg" %}
{% set banner_width = 1024 %}
{% set banner_height = 1024 %}
{% include "components/header.html" %}

    <link rel="stylesheet" type="text/css" href="/styles/entities/article.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/index.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}

    <div class="hello">
        <div>
            <h1>Привет, я <b class="highlight">Андрей</b>!</h1>
            <h2>Python/JS разработчик и <b class="highlight">ИИ</b>&#8209;исследователь.</h2>
        </div>
        <div>
            <img src="/images/avatars/avatar_320.jpg" alt="мой аватар">
        </div>
    </div>

    <section id="about">
        <h2>Обо мне</h2>
        
        <p>Привет! Я Перминов Андрей, и я являюсь разработчиком, исследователем и просто человеком, которому нравится разбираться в сложных вещах и объяснять их простым языком.</p>

        <p><img class="icon" src="/images/icons/research.svg" alt="research icon"> <b class="highlight">Компьютерное зрение</b> и <b class="highlight">доверенный ИИ</b> – исследую методы, которые делают модели точнее, надёжнее и понятнее.</p>
        <p><img class="icon" src="/images/icons/brain.svg" alt="brain icon"> <b class="highlight">Нейронные сети</b> для обработки аудио, видео и изображений – изучаю, как извлекать смысл из данных и делать модели более эффективными.</p>
        <p><img class="icon" src="/images/icons/bike.svg" alt="bike icon"> <b class="highlight">Изобретение велосипедов</b> – обожаю придумывать новые методы и нестандартные решения, даже если они пока никому не нужны.</p>
        <p><img class="icon" src="/images/icons/web.svg" alt="web icon"> <b class="highlight">Веб-приложения и сервисы</b> – разрабатываю инструменты и проекты на чистом JavaScript, без тяжёлых фреймворков, ради скорости и полного контроля над кодом.</p>

        <div class="line"></div>

        <h3>Небольшой блиц</h3>

        <div class="list">
            <div><img class="icon" src="/images/icons/cake.svg" alt="birthday icon"> <b class="highlight">День рождения</b>: 20 февраля 1998</div>
            <div><img class="icon" src="/images/icons/work.svg" alt="work bag icon"> <b class="highlight">Работа</b>: Python backend/ML разработчик в ИСП РАН</div>
            <div><img class="icon" src="/images/icons/hobby.svg" alt="hobby icon"> <b class="highlight">Хобби</b>: программирование, квизы и езда на велосипеде</div>
        </div>

        <div class="line"></div>

        <p>Этот сайт — место, где я делюсь своими исследованиями, проектами, идеями и иногда мемами, которые меня зацепили. Добро пожаловать!</p>
    </section>

    <section id="articles">
        <h2>Научные статьи</h2>

        <p>Так уж получилось, что я пошёл в науку, а в науке без написания статей никуда. В этом блоке показаны последние статьи, к которым я приложил свою руку.</p>

        <div class="articles">
            {% for article in articles %}
            <div class="article">
                <div class="article-title">
                    {% if article.pdf_link %}<a href="{{article.pdf_link}}" target="_blank"><img class="icon" src="/images/icons/pdf.svg">{% endif %}
                    {% if article.link %}<a href="{{article.link}}" target="_blank">{{article.title}}</a>{% else %}{{article.title}}{% endif %} ({{article.date.year}})
                </div>
                <div class="article-authors">
                    <b class="highlight">Автор{% if article.authors|length > 1%}ы{% endif %}</b>:
                    {% for author in article.authors %}{% if loop.index > 1 %}, {% endif %}{% if author == "Перминов А.И." %}<b>{{author}}</b>{% else %}{{author}}{% endif %}{% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <p>Больше статей и других научных материалов можно найти в разделе <a class="link" href="/research">исследования</a>.</p>
    </section>

    <section id="education">
        <h2>Образование</h2>

        <div class="education">
            <div class="year">2025</div>
            <div>
                <div class="education-name">Аспирантура</div>
                <div class="education-description">ИСП РАН им. В.П. Иванникова</div>
            </div>
            <div class="divider"><span></span></div>
            <div></div>
            <div class="year">2022</div>
            <div>
                <div class="education-name">Магистратура</div>
                <div class="education-description">ВМК МГУ им. М.В.Ломоносова</div>
            </div>
            <div class="divider"><span></span></div>
            <div></div>
            <div class="year">2020</div>
            <div>
                <div class="education-name">Бакалавриат</div>
                <div class="education-description">ВМК МГУ им. М.В.Ломоносова</div>
            </div>
            <div class="divider"><span></span></div>
            <div></div>
            <div class="year">2015</div>
            <div>
                <div class="education-name">Среднее образование</div>
                <div class="education-description">Лицей 1502 при МЭИ</div>
            </div>
        </div>
    </section>

    <section id="education">
        <h2>Контакты</h2>

        <div class="list">
            <div>
                <img class="icon" src="/images/icons/email.svg" alt="email icon">
                <b>Почта</b>: <a class="link" target="_blank" href="mailto:perminov@ispras.ru">perminov@ispras.ru</a>
            </div>
            <div>
                <img class="icon" src="/images/icons/github_logo.svg" alt="GitHub icon">
                <b>GitHub</b>: <a class="link" target="_blank" href="https://github.com/dronperminov">dronperminov</a>
            </div>
            <div>
                <img class="icon" src="/images/icons/scholar_logo.svg" alt="Google Scholar logo">
                <b>Google scholar</b>: <a class="link" target="_blank" href="https://scholar.google.com/citations?user=xlOPoncAAAAJ">Andrey Perminov</a>
            </div>
            <div>
                <img class="icon" src="/images/icons/orcid_logo.svg" alt="ORCID logo">
                <b>ORCID</b>: <a class="link" target="_blank" href="https://orcid.org/my-orcid?orcid=0000-0001-8047-0114">0000-0001-8047-0114</a>
            </div>
        </div>
    </section>

    {% include "components/footer.html" %}
</body>
</html>
