{% set title = "Проекты | Dronperminov" %}
{% set description = "Проекты, которые были мною созданы" %}
{% include "components/header.html" %}

    <link rel="stylesheet" type="text/css" href="/styles/utils/gallery.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/layout.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/pages/projects.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}
    {% include "components/breadcrumbs.html" %}

    <h1>Проекты</h1>

    <section>
        <h2><a class="link" href="/json-formatter">Умный JSON форматтер с глубиной форматирования и валидацией</a></h2>

        <p>Ищете удобный и надёжный инструмент для работы с JSON? Мой <a class="link" href="/json-formatter">JSON форматтер</a> позволяет мгновенно форматировать, минимизировать и валидировать JSON-код прямо в браузере – без установки и регистрации.</p>

        <h2>Ключевые особенности инструмента:</h2>

        <ul>
            <li><b class="highlight">Форматирование с ограничением уровня вложенности</b>. Укажите желаемую глубину – и вложенные структуры будут представлены в компактном виде. Это особенно удобно при работе с большими JSON-массивами и вложенными объектами.</li>
            <li><b class="highlight">Понятная валидация</b>. Ошибки отображаются с точным описанием, чтобы вы могли сразу увидеть, что пошло не так – без лишних догадок.</li>
            <li><b class="highlight">Гибкие настройки</b>. Настройте количество пробелов для отступов и глубину форматирования под свой стиль.</li>
            <li><b class="highlight">Минификация JSON</b>. Удалите все лишние пробелы и переносы строк одним кликом – для компактного хранения и передачи.</li>
            <li>Поддержка <b class="highlight">вставки текста</b> и <b class="highlight">загрузки файла</b>. Работайте с JSON так, как вам удобно.</li>
        </ul>

        <div class="layout-pictures layout-2x2">
            <div><img src="/images/projects/json-formatter/1.jpg"></div>
            <div><img src="/images/projects/json-formatter/2.jpg"></div>
            <div><img src="/images/projects/json-formatter/3.jpg"></div>
            <div><img src="/images/projects/json-formatter/4.jpg"></div>
        </div>

        <p>Обратите внимание: это <b class="highlight">не редактор JSON</b>, а специализированный инструмент для его анализа, проверки и преобразования. Однако вы можете использовать его как облегчённый редактор, если вам достаточно базовых функций.</p>
    </section>

    <section>
        <h2>Визуализатор персептрона с кусочно-линейными функциями активации</h2>

        <p>Интерактивный <a class="link" href="https://dronperminov.ru/machine-learning/dense-network-playground">инструмент для визуализации</a>, настройки и анализа работы многослойного персептрона. Подходит для исследовательской работы, отладки архитектуры, объяснимости моделей, оценки доверия и генерации синтетических данных малой размерности.</p>

        <div class="layout-pictures layout-grid">
            <div><img src="/images/projects/dense-network-playground/1.jpg"></div>
            <div><img src="/images/projects/dense-network-playground/2.jpg"></div>
            <div><img src="/images/projects/dense-network-playground/3.jpg"></div>
            <div><img src="/images/projects/dense-network-playground/4.jpg"></div>
            <div><img src="/images/projects/dense-network-playground/5.jpg"></div>
        </div>

        <h3>Изменение конфигурации сети:</h3>
        <ul>
            <li>Количество слоёв и размерность каждого слоя</li>
            <li>Выбор функции активации (Abs, ReLU, Leaky-ReLU)</li>
            <li>Пороги доверия (выход сети ниже порога считается недоверенным)</li>
        </ul>

        <h3>Настройка параметров обучения:</h3>
        <ul>
            <li>Размер батча</li>
            <li>Выбор оптимизатора (SGD, Adam, Adagrad, и др.)</li>
            <li>Скорость обучения (learning rate)</li>
            <li>Опция обучения с фоном (равномерный шум на компакте)</li>
            <li>Поддержка унарной классификации (one-class)</li>
        </ul>

        <h3>Визуализация работы сети</h3>
        <ul>
            <li>Отображение выходов сети: в 2D и 3D (для удобства анализа)</li>
            <li>Метрики качества: функция потерь, ошибка классификации, отказ от распознавания (доля точек, со значением сети вне порога доверия)</li>
            <li>Гистограммы распределения выхода сети на train/test/background данных</li>
            <li>Геометрическая визуализация персептрона: ячейки, полученные в результате разбиения гиперплоскостями персептрона</li>
        </ul>

        <h3>Работа с данными</h3>
        <ul>
            <li>Генерация синтетических наборов: спирали, Гауссианы, кольца, moons, ...</li>
            <li>Загрузка пользовательских датасетов</li>
            <li>Нормализация данных</li>
            <li>Подсчёт статистик по данным (среднее, дисперсия, минимум, максимум, ковариация)</li>
        </ul>

        <h3>Эксперименты и объяснимость</h3>
        <p>Анализ доверия (объясняющее дерево eXtree):</p>
        <ul>
            <li>Ячейки, полученные из гиперплоскостей (фильтрация, поиск)</li>
            <li>Подсчёт количества объектов в каждой ячейке (для получения гистограммной оценки плотности)</li>
            <li>Сравнение оценки плотности: нейросетевая (выход сети) и гистограммная</li>
            <li>Визуализация ячеек в виде 3D-гистограммы</li>
        </ul>
        <p>Генерация синтетических данных</p>
    </section>

    <section>
        <h2>Помощь с программированием: programforyou</h2>

        <p>Когда я учился в школе или на первых курсах университета, мне очень сильно не хватало ресурсов, на которых бы просто и наглядно объяснялись различные темы по информатике и программированию. При подготовке к контрольным мне зачастую не хватало онлайн калькуляторов, на которых можно было бы проверить своё решение и в случае расхождений понять, в чём именно ошибка. В основном существовавшие сервисы выдавали просто ответ без пошагового решения, а иногда и вовсе без объяснения. Так долго продолжаться просто не могло и я создал <a class="link" href="https://programforyou.ru">programforyou.ru</a>.</p>

        <p>Сейчас <a class="link" href="https://programforyou.ru">programforyou</a> – это место, в котором есть статьи по программированию, различные визуализаторы, онлайн калькуляторы по информатике и несколько онлайн сервисов. Больше всего я, пожалуй, горжусь следующими:</p>

        <ul class="paragraphs">
            <li><a class="link" href="https://programforyou.ru/block-diagram-redactor">Онлайн редактор блок-схем</a> – нескромно скажу, что в настоящий момент он является самым популярным в русскоязычном интернете и его рекомендуют использовать в различных учебных программах. Не стоит путать этот редактор с редакторами диаграмм вроде DrawIO, он совершенно не про это. Этот редактор служит лишь для одной простой цели: создать блок-схему некоторого алгоритма (хотя однажды мне присылали скриншоты со схемой какого-то трубопровода!). Всего девять базовых блоков, стрелки и ничего лишнего.</li>

            <li>Участвуя вразличных олимпиадах по информатике и решая задачи на теорию графов, мне очень долгое время не хватало удобного инструмента, в котором можно было бы не только создать граф, но и запустить на нём какие-нибудь алгоритмы, причём с пошаговой отладкой. Именно поэтому в какой-то момент я создал <a class="link" href="https://programforyou.ru/graph-redactor">онлайн редактор графов</a>. Да, он не работает с мультиграфами, зато в нём есть более 25 алгоритмов, создание из четырёх различных представлений (матрица смежности, список рёбер, матрица инцидентности, список связности), более 20 примеров уже готовых графов, генерация случайного графа, возможность разместить граф так, чтобы он красиво выглядел (ну почти) и даже возможность изменять внешний вид вершинам и рёбрам (в редакторе блок-схем я принципиально отказался от управления дизайном, чтобы всё не усложнять).</li>

            <li><a class="link" href="https://programforyou.ru/calculators/postroenie-tablitci-istinnosti-sknf-sdnf">Построение таблицы истинности и многое другое</a> – именно такого инструмента мне не хватало, когда я изучал дискретную математику. Сейчас это второй по популярности сервис на сайте после редактора блок-схем. Вот вы знали, что полином Жегалкина можно построить аж тремя различными способами? Благодаря этому калькулятору можете узнать, как именно! А тажке построить СДНФ, СКНФ, минимизировать функцию и многое многое другое.</li>

            <li>Что может быть проще, чем перевод чисел между различными системами счисления? Вообще очень много всего, поэтому одним из первых калькуляторов стал <a class="link" href="https://programforyou.ru/calculators/number-systems">калькулятор систем счисления</a>. Причём он не ограничивается лишь "стандартными" системами счисления вроде 2, 8, 10 и 16 – в нём доступно 35 систем счисления со второй по тридцать шестую.</li>
        </ul>

        <div class="layout-pictures layout-grid">
            <div><img src="/images/projects/programforyou/block-diagram-redactor.png"></div>
            <div><img src="/images/projects/programforyou/graph-redactor.png"></div>
            <div><img src="/images/projects/programforyou/sdnf.png"></div>
            <div><img src="/images/projects/programforyou/matrix.png"></div>
            <div><img src="/images/projects/programforyou/simplex.png"></div>
            <div><img src="/images/projects/programforyou/turing.png"></div>
        </div>

        <p>Ещё на сайте имеется <a class="link" href="https://programforyou.ru/calculators/turing-machine-emulator">эмулятор машины Тьюринга</a>, <a class="link" href="https://programforyou.ru/calculators/calculator-matric">калькулятор матриц</a>, <a class="link" href="https://programforyou.ru/calculators/simplex-method">калькулятор симплекс-метода</a> и многое другое.</p>
    </section>

    {% include "components/footer.html" %}

    <script src="/js/utils/gallery.js?v={{version}}"></script>
    <script>
        for (let block of document.querySelectorAll(".layout-pictures")) {
            let gallery = new Gallery()
            let images = block.querySelectorAll("img")

            for (let i = 0; i < images.length; i++) {
                images[i].addEventListener("click", e => gallery.ShowPhoto(i))
                gallery.AddPhoto({url: images[i].getAttribute("src")})
            }
        }
    </script>
</body>
</html>
