{% set title = "Исследования | Dronperminov" %}
{% set description = "Научные статьи и исследования, в которых я участвовал" %}
{% include "components/header.html" %}

    <link rel="stylesheet" type="text/css" href="/styles/entities/article.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/research.css?v={{version}}">
</head>
<body>
    {% include "components/menu.html" %}

    <nav class="breadcrumbs" aria-label="Хлебные крошки">
        <a href="/">Главная</a>
        <span class="separator">›</span>
        <span class="current">Исследования</span>
    </nav>

    <h1>Исследования</h1>

    <section>
        <h2>Статьи</h2>
        <p>Здесь собраны все научные статьи, в написании которых я участвовал.</p>

        <div id="articles">
            <div class="articles"></div>
        </div>
    </section>

    {% include "components/footer.html" %}

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/notifications.js?v={{version}}"></script>
    <script src="/js/utils/infinite_scroll.js?v={{version}}"></script>

    <script src="/js/entities/article.js?v={{version}}"></script>

    <script src="/js/research.js?v={{version}}"></script>

    <script>
        let config = {
            blockId: "articles",
            pageSize: 2,
            url: "/search-articles",

            getParams: GetArticlesSearchParams,
            onLoad: LoadArticles
        }

        let infiniteScroll = new InfiniteScroll(config)
        infiniteScroll.LoadContent()
    </script>
</body>
</html>
