.papers {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em;
    justify-items: center;
}

.paper {
    padding: 0.5em;
    border-radius: 0.8em;
    background: var(--section-light-background-color);
    border: 1px solid var(--section-light-border-color);
    width: 100%;
}

.paper .paper-title {
    margin-bottom: 0.5em;
}

.paper .paper-title a {
    color: var(--text-color);
    text-decoration: none;
}

.paper .paper-title a:hover {
    color: var(--main-color);
}

.paper .paper-authors {
    font-size: 0.85em;
}
