.post {
    color: var(--description-color);
}

.post-text {
    font-size: 0.9em;
    margin-bottom: 1em;
}

.post-pictures {
    margin-bottom: 0.5em;
    display: grid;
    grid-gap: 5px;
}

.post-pictures img {
    border-radius: 0.5em;
    border: 2px solid var(--border-color);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.post-time {
    text-align: right;
    font-size: 0.8em;
}
