<footer>
    <p>&copy; 2025 <b>Перминов Андрей Игоревич</b></p>
</footer>

{% if not user or user.username != "dronperminov" %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(101425819, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/101425819" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}

<script src="/js/utils/utils.js?v={{version}}"></script>
<script src="/js/utils/fetch.js?v={{version}}"></script>
<script src="/js/utils/notifications.js?v={{version}}"></script>
<script>
const TOKEN_NAME = "dronperminov_token"

function Logout() {
    localStorage.removeItem(TOKEN_NAME)
    document.cookie = `${TOKEN_NAME}=; Max-Age=-99999999; SameSite=strict`
    location.href="/logout"
}

function UpdateCookieToken() {
    let token = localStorage.getItem(TOKEN_NAME)
    if (token === null)
        return

    document.cookie = `${TOKEN_NAME}=${token}; SameSite=strict`

    {% if not user %}
    SendRequest("/validate", {}).then(response => {
        if (response.status == SUCCESS_STATUS && response.valid)
            location.reload()
    })
    {% endif %}
}

UpdateCookieToken()
</script>
