<!DOCTYPE html>
<html lang="ru" translate="false">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <meta name="description" content="{{description}}">

    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">

    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">

    <meta name="theme-color" content="#fbe6cb">

    <meta property="og:type" content="object" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:url" content="https://dronperminov.ru" />
    <meta property="og:site_name" content="Dronperminov" />

    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:type" content="object" />
    <meta name="twitter:desсription" content="{{description}}" />

    {% if banner %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="{{banner}}" />
    <meta property="og:image:secure_url" content="{{banner}}" />
    <meta property="og:image:width" content="{{banner_width}}" />
    <meta property="og:image:height" content="{{banner_height}}" />

    <meta name="twitter:image:src" content="{{banner}}" />
    <meta name="twitter:image:width" content="{{banner_width}}" />
    <meta name="twitter:image:height" content="{{banner_height}}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/styles/styles.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/components/menu.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/components/breadcrumbs.css?v={{version}}">
