<header>
    <input class="side-menu" type="checkbox" id="side-menu">

    <div class="logo-hamb">
        <span class="logo">dronperminov</span>
        <label class="hamb" for="side-menu"><span></span></label>
    </div>

    <nav>
        <a {% if page == "index" %}class="current-page"{% else %}href="/"{% endif %}><span>Главная</span></a>
        <a {% if page == "research" %}class="current-page"{% else %}href="/research"{% endif %}><span>Исследования</span></a>
        <a {% if page == "projects" %}class="current-page"{% else %}href="/projects"{% endif %}><span>Проекты</span></a>
        <a {% if page == "blog" %}class="current-page"{% else %}href="/blog"{% endif %}><span>Блог</span></a>
    </nav>
</header>
